body{
    margin:0px;
}
.body_content{
    width: 100%;
    height: 100vh;
}
.frame3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    gap: 399px;

    background: #3699F4;

}

.whot{
    width: 114px;
    height: 48px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */

    color: #FFFFFF;
}
.frame14{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 48px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    border-color: white;
}

.login_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 125px;

    height: 48px;
    border-width: 0px;

}
.logtitle{
    width: 43px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #3699F4;
}
.frame1{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
    gap: 54px;

}

.frame17{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.view_content{
    display: flex;
    justify-content: center;
/*    align-items: center;*/
    padding : 48px 32px;
    width:60%;
    background: #e2e2e2;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.slidebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 10px;
    background: #E6E8FF;
    border: 1px solid #3699F4;
    border-radius: 12px;
    width:100%;
    height: 48px;
}
.frame23{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.frame25{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.rectangle{
    width: 16px;
    height: 48px;
    background: #3699F4;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: none;
}
.frame15{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 10px;
    height:48px;
}
.frame15:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 10px;
    background: #E6E8FF;
    border: 1px solid #3699F4;
    border-radius: 12px;
    width:100%;
    height: 48px;
}
.frame15:hover > .rectangle{
    display: block;
}

.slide_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.line{
    width: 100%;
    height: 0px;

    border: 1px solid rgba(34, 34, 34, 0.1);
}
.frame10{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 54px;
}
.fra17_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #004687;
}
.frame_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 143px;
    cursor:pointer;
}
.social_avatar{
    cursor: pointer;
}
.frame26{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    gap: 10px;
    background: #3699F4;
}
.fra26_title1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.fra26_title2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.frame12{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 32px;
    gap: 64px;
    background: #FFFFFF;
}
.frame21{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.frame22{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.frame45{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.frame19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.fra19_title1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #333333;
}
.fra19_title2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #888888;
}
.readacticle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #3699F4;
}
.frame20{
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
}
.fra20_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #333333;
}
.fra20_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fra21_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    display: none;
    position: relative;
}

input.nosubmit {
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 90px;
  width: 260px;
  height: 48px;
  border: 1px solid #FFFFFF;
  display: block;
  padding: 9px 4px 9px 40px;

}
.search_img{
    position: absolute;
   top:15px;
   left:10px;
}
.frame13{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.fra13_title1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #004687;
}
.fra13_title2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #888888;
}
.avatar{
    width: 115px;
    height: 115px;
}

.frame18{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
}
.fra18_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #004687;
}
.frame11{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
}
.help_title1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    color: #222222;
}
.help_title2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #888888;
}
.frame45_help{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.frame31{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
.fra31_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #222222;
}
.fra31_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    gap: 10px;
    width: 100%;
    border-color: #3699F4;
    border-width: 0px;
    background: #3699F4;
}
.fra31_textarea{
    border-color: white;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    gap: 8px;
    width: 95%;
    height: 108px;
}
.fra31_btn_span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #FFFFFF;
}
.contact_form{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 19px;
    background: #FFFFFF;
}
.frame38{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}
.fra38_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #222222;
}
.frame32{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 100%;
}
.soical{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
}
.frame42{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.frame40{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}
.fra40_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}
 .frame34{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.fra34_search{
    position: relative;
    width: 100%;
}
.fram34_input{
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 10%);
    width: 94%;
    height: 24px;
    border: 1px solid #FFFFFF;
    display: block;
    padding: 9px 4px 9px 40px;
    font-size: 16px;
}
.user_img{
    position: absolute;
   top:15px;
   left:10px;
}
.fra34_textarea{
    border-color: white;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
    gap: 8px;
    width: 92%;
    height: 108px;
}
.fra34_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    gap: 10px;
    background: #3699F4;
    border-width: 0px;

}
.fra34_btn_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}